<div class="all-products">
    <article>
        <div class="product-card">
            <a href="/user/product/newProduct/">
                <div class="product-logo">
                    <img src="/img/agregar.jpg" alt="" class="product-img-card">
                </div>
                <div class="product-desc">
                    <div class="product-tittle">
                        Agregar un producto nuevo.
                    </div>
                </div>
            </a>
        </div>
    </article>
    <% if (models) { %>
        <% for( let i = 0; i < models.length; i++ ) { %>
            <article>
                <div class="product-card">
                    <div class="product-logo">
                        <a href="">
                            <img src="/images/products/<%= models[i].img %>" alt="" class="product-img-card">
                        </a>
                    </div>
                    <div class="product-desc">
                        <div class="product-tittle">
                            <%= models[i].product.name %> 
                        </div>
                        <div class="product-description">
                            <%= models[i].description %> 
                        </div>
                        <div class="product-bottom">
                            <div class="product-price">
                                $<%= models[i].prices[0].value %> 
                            </div>
                        </div>
                        <div class="product-bottom">
                            <form action="/user/product/editProduct/<%= models[i].id %>" method="get">
                                <button type="submit" class="btn btn-outline-primary">Modificar</button>
                            </form>
                            <form action="/user/product/deleteProduct/<%= models[i].id %>?_method=DELETE" method="post">
                                <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
        <% } %>
    <% } %>
</div>