<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {tittle: tittle} ); %>
        <link rel="stylesheet" href="/css/product/product-detail.css">
</head>

<body>
    <header>
        <%- include('../partials/navigation'); %>
    </header>

    <main>
        <article>
            <div class="prod-img">
                <div class="prod-img-pry">
                    <img src="/images/products/<%= model.img %>" class="main-img" alt="">
                </div>
                <div class="prod-img-sec">
                    <% model.images.forEach(image => { %>
                        <img src="/images/products/<%= image %>" class="galery-img" alt="">
                    <% }) %>
                </div>
                <hr>
                <div class="prod-user">
                    <div>
                        <h5>Vendedor:</h5>
                    </div>
                    <div>
                        <h4>
                            <a href="/products/sellerProducts/<%= model.product.user.id %> ">
                                <%= model.product.user.name %> <%= model.product.user.last_name %>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="prod-info">
                <h1> <%= model.product.name %> </h1>
                <hr class="hr-prod-det">
                <h6>Marca - Modelo</h6>
                <h3> <%= model.product.brand %> - <%= model.name %> </h3>
                <p> <%= model.description %>  </p>
                <div class="prod-colors">
                    <h3>Colores</h3>
                    <div class="colors">
                        <div class="color">
                            <ul>
                                <% model.feature.colors.forEach(color => { %>
                                    <li> <%= color %>  </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="prod-feats">
                    <h3>Medidas</h3>
                    <div class="feats">
                        <div class="feat">
                            <h5>Alto:</h5>
                            <%= model.feature.height %> cm
                        </div>
                        <div class="feat">
                            <h5>Ancho</h5>
                            <%= model.feature.width %> cm
                        </div>
                        <div class="feat">
                            <h5>Profundo:</h5>
                            <%= model.feature.deep %> cm
                        </div>
                        <div class="feat">
                            <h5>Peso:</h5>
                            <%= model.feature.weight %> Kg
                        </div>
                    </div>
                </div>
                <div class="prod-props">
                    <h3>Materiales</h3>
                    <div class="props">
                        <div class="prop">
                            <h5>Maderas:</h5>
                            <ul>
                                <% model.property.wood.forEach(wood => { %>
                                    <li> <%= wood %>  </li>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="prop">
                            <h5>Metales:</h5>
                            <ul>
                                <% model.property.metal.forEach(metal => { %>
                                    <li> <%= metal %>  </li>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="prop">
                            <h5>Telas:</h5>
                            <ul>
                                <% model.property.cloth.forEach(cloth => { %>
                                    <li> <%= cloth %>  </li>
                                <% }) %>
                            </ul>
                        </div>
                        <div class="prop">
                            <h5>Otros:</h5>
                            <ul>
                                <% model.property.other.forEach(other => { %>
                                    <li> <%= other %>  </li>
                                <% }) %>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="prod-buttons">
                    <div class="buttons">
                        <div class="prod-prices">
                            $<%= model.prices[0].value %>
                        </div>
                        <div>
                            <a href="" class="cart-btn">
                                <i class="fa-sharp fa-solid fa-cart-plus"></i>
                                <label class="label-btn">Añadir al carrito</label>
                            </a>
                        </div>
                        <div>
                            <a href="" class="buy-btn">
                                <i class="fa-solid fa-money-check-dollar"></i>
                                <label class="label-btn">Comprar</label>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </main>

</body>

</html>