<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head', {tittle: tittle} ); %>
        <link rel="stylesheet" href="/css/product/product-styles.css">
</head>

<body>
    <header>
        <%- include('../partials/navigation'); %>
    </header>

    <div class="great-container">
        <div class="container-gral align-center">
            <div class="div-row div-row-mobile">
                <div class="div-col margins-x product-card-detail">
                    <div class="div-row">
                        <img src="<%= product.img %>" class="product-img-size" alt="..." />
                    </div>
                    <hr />
                    <div class="div-row mini-gallery">
                        <!-- LIMITAMOS SOLO A 4 MINUATURAS CUANDO LAS CARGAMOS -->
                        <% for( let i=0; i < product.images.length; i++ ) { %>
                            <div class="div-col div-col-mobile">
                                <img src="<%= product.images[i] %>" class="product-img-mini-gallery" alt="..." />
                            </div>
                            <% } %>
                    </div>
                </div>
                <div class="div-col margins-x py-2">
                    <div class="font-title mb-2">
                        <%= product.name %>
                    </div>
                    <div class="font-txt mb-2">
                        <%= product.description %>
                    </div>
                    <div class="font-txt mb-2">
                        Color: <%= product.colors %>
                    </div>
                    <div class="font-txt mb-2">
                        Ambiente: <%= product.room %>
                    </div>

                    <!-- EJEMPLO DE VALIDACION PARA REPLICAR EN LOS OTROS DATOS -->
                    <!-- <div class="font-txt mb-2">
                        <% if(product.size.height) { %>
                            Alto: <%= product.size.height %> cms.
                        <% } %>
                    </div> -->


                    <div class="font-txt mb-2">
                        Alto: <%= product.size.height %> cms.
                    </div>
                    <div class="font-txt mb-2">
                        Ancho: <%= product.size.width %> cms.
                    </div>
                    <div class="font-txt mb-2">
                        Profundida: <%= product.size.deep %> cms.
                    </div>
                    <div class="font-txt mb-2">
                        Peso: <%= product.size.weight %> kgs.
                    </div>
                    <div class="font-txt mb-2">
                        <% if(product.available=='true' ) { %>
                            Stock disponible: <%= product.quantity %> un.
                                <% }else{ %>
                                    <strong>Sin stock disponible</strong>
                                    <% } %>
                    </div>
                    <div class="font-txt mb-2">
                        Precio: $<%= product.price %>
                    </div>
                    <div class="font-txt mb-2">
                        <div class="form-group">
                            <label for="">Cantidad:</label>
                            <select class="form-control" name="" id="">
                                <option>Selecciona una opción</option>
                                <% for( let index=1; index <=product.quantity; index++ ) { %>
                                    <option>
                                        <%= index%>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="margin-btn">
                        <a href="#" class="btn btn-primary">
                            Comprar ahora
                        </a>
                    </div>
                    <div class="margin-btn">
                        <a href="/products/detailProduct" class="btn btn-outline-primary">
                            Agregar al carrito
                        </a>
                    </div>
                    <div class="margin-btn">
                        <form action="/admin/products/editProduct/<%= product.id %>" method="GET">
                            <button type="submit" class="btn btn-outline-primary">Editar</button>
                        </form>
                        <form action="/admin/products/deleteProduct/<%= product.id %>?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="great-container2">
        <div class="container-gral align-center">
            <div class="div-row">
                <div class="font-title mb-5">
                    Productos recomendados
                </div>
            </div>
            <div class="div-row div-row-mobile">
                <% for( let index=0; index < 1; index++ ) { %>
                    <div class="margins-x product-card-detail">
                        <div class="div-row">
                            <img src="/img/chair.svg" class="product-img-size" alt="..." />
                        </div>
                        <hr />
                        <div class="div-row mini-gallery">
                            <% for( let index=0; index < 4; index++ ) { %>
                                <div class="div-col div-col-mobile">
                                    <img src="/img/chair.svg" class="product-img-mini-gallery" alt="..." />
                                </div>
                                <% } %>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div> -->
</body>

</html>