<div class="form-product">
    <form action="/admin/products/editProduct/<%=product.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-up">
            <label>Imagen Portada</label>
            <img src="/images/products/<%= product.img %>" alt="Portada" class="product-img">
        </div>
        <div class="form-up">
            <label>Imagenes Galeria</label>
            <label class="little-text">Desmarque los que quiera borrar</label>
            <div class="img-galery-row-wrap">
                <% for( let i=0; i<product.images.length; i++ ) { %>
                    <div>
                        <img src="/images/products/<%=product.images[i] %>" alt="Portada" class="product-img-galery">
                        <div class="check-delete-img-gal">
                            <input type="checkbox" name="checkImgGal[]" value="<%=product.images[i]%>" id="<%=product.images[i]%>" checked >
                            <label class="label-form " for="<%=product.images[i]%>">Mantener</label>
                        </div>
                    </div>
                <% } %>
                <!-- <% product.images.forEach(element => { %>
                    <div>
                        <img src="/images/products/<%= element %>" alt="Portada" class="product-img-galery">
                        <input type="checkbox" name="checkroom[]" value="oficina" id="oficina">
                        <label class="label-form " for="dormitorio">Borrar</label>
                    </div>
                <% }) %> -->
            </div>
        </div>
        <div class="form-up">
            <label for="productName">Nombre</label>
            <input type="text" name="productName" id="productName" placeholder="Nombre Producto" value="<%= product.name %>"
            required maxlength="60">
        </div>
        <div class="form-up">
            <label for="productMark">Marca</label>
            <input type="text" name="productMark" id="productMark" placeholder="Marca Producto" value="<%= product.mark %>"
            required maxlength="60">
        </div>
        <div class="form-up">
            <label for="productModel">Modelo</label>
            <input type="text" name="productModel" id="productModel" placeholder="Modelo Producto" value="<%= product.model %>"
            required maxlength="60">
        </div>
        <div class="form-up">
            <label for="productDesc">Descripcion</label>
            <textarea name="productDesc" id="productDesc" cols="30" rows="10" class="form-desc" required><%= product.description %></textarea>
        </div>
        <div class="form-up">
            <label for="productPrice">Precio</label>
            <input type="text" name="productPrice" id="productPrice" placeholder="9999" value="<%= product.price %>"
            pattern="[0-9]+" title="Solamente números" required>
        </div>
        <div class="form-input-div">
            <label class="label-form label-form-radio">Habitaciones</label>
            <div class="form-compartido">
                <div class="form-input-div-half">
                    <div class="form-checkbox">
                        <input type="checkbox" name="checkroom[]" value="cocina" id="cocina"
                        <% product.room.forEach(element => { %>
                            <% if (element == 'cocina') { %>
                                checked
                            <% } %>
                        <% }) %> 
                        >
                        <label class="label-form" for="cocina" >Cocina</label>
                    </div>
                </div>
                <div class="form-input-div-half">
                    <div class="form-checkbox">
                        <input type="checkbox" name="checkroom[]" value="comedor" id="comedor"
                        <% product.room.forEach(element => { %>
                            <% if (element == 'comedor') { %>
                                checked
                            <% } %>
                        <% }) %> 
                        >
                        <label class="label-form" for="comedor">Comedor</label>
                    </div>
                </div>
            </div>
            <div class="form-compartido">
                <div class="form-input-div-half">
                    <div class="form-checkbox">
                        <input type="checkbox" name="checkroom[]" value="dormitorio" id="dormitorio"
                        <% product.room.forEach(element => { %>
                            <% if (element == 'dormitorio') { %>
                                checked
                            <% } %>
                        <% }) %> 
                        >
                        <label class="label-form " for="dormitorio">Dormitorio</label>
                    </div>
                </div>
                <div class="form-input-div-half">
                    <div class="form-checkbox">
                        <input type="checkbox" name="checkroom[]" value="living" id="living"
                        <% product.room.forEach(element => { %>
                            <% if (element == 'living') { %>
                                checked
                            <% } %>
                        <% }) %> 
                        >
                        <label class="label-form " for="living">Living</label>
                    </div>
                </div>
            </div>
            <div class="form-compartido">
                <div class="form-input-div-half">
                    <div class="form-checkbox">
                        <input type="checkbox" name="checkroom[]" value="oficina" id="oficina"
                        <% product.room.forEach(element => { %>
                            <% if (element == 'oficina') { %>
                                checked
                            <% } %>
                        <% }) %> 
                        >
                        <label class="label-form " for="oficina">Oficina</label>
                    </div>
                </div>
                <div class="form-input-div-half">
                    <div class="form-checkbox">
                        <input type="checkbox" name="checkroom[]" value="exterior" id="exterior"
                        <% product.room.forEach(element => { %>
                            <% if (element == 'exterior') { %>
                                checked
                            <% } %>
                        <% }) %> 
                        >
                        <label class="label-form " for="exterior">Exterior</label>
                    </div>
                </div>
            </div>
        </div>
        <label>Materiales</label>
        <div class="form-up">
            <label for="matWood">Maderas</label>
            <input type="text" name="matWood" id="matWood" placeholder="fenolico, pino" value="<%= product.mats.wood %>"
            maxlength="60" pattern="[a-zA-Z0-9\s,]+" title="Separe por comas">
            <label class="little-text" >Ingrese separados por comas</label>
        </div>
        <div class="form-up">
            <label for="matMetal">Metales</label>
            <input type="text" name="matMetal" id="matMetal" placeholder="aluminio, hierro" value="<%= product.mats.metal %>"
            maxlength="60" pattern="[a-zA-Z0-9\s,]+" title="Separe por comas">
            <label class="little-text" >Ingrese separados por comas</label>
        </div>
        <div class="form-up">
            <label for="matCloth">Telas</label>
            <input type="text" name="matCloth" id="matCloth" placeholder="cuero, algodon" value="<%= product.mats.cloth %>"
            maxlength="60" pattern="[a-zA-Z0-9\s,]+" title="Separe por comas">
            <label class="little-text" >Ingrese separados por comas</label>
        </div>
        <div class="form-up">
            <label for="matOther">Otros</label>
            <input type="text" name="matOther" id="matOther" placeholder="plastico, vidrio" value="<%= product.mats.others %>"
            maxlength="60" pattern="[a-zA-Z0-9\s,]+" title="Separe por comas">
            <label class="little-text" >Ingrese separados por comas</label>
        </div>
        <div class="form-up">
            <label>Medidas</label>
            <div class="form-compartido">
                <div class="form-input-div-four">
                    <label for="sizeHeight">Alto</label>
                    <input type="text" name="sizeHeight" id="sizeHeight" placeholder="10" value="<%= product.size.height %>"
                    pattern="[0-9]+" title="Solamente números" required>
                </div>
                <div class="form-input-div-four">
                    <label for="sizeWidth">Ancho</label>
                    <input type="text" name="sizeWidth" id="sizeWidth" placeholder="10" value="<%= product.size.width %>"
                    pattern="[0-9]+" title="Solamente números" required>
                </div>
                <div class="form-input-div-four">
                    <label for="sizeDeep">Profundo</label>
                    <input type="text" name="sizeDeep" id="sizeDeep" placeholder="10" value="<%= product.size.deep %>"
                    pattern="[0-9]+" title="Solamente números" required>
                </div>
                <div class="form-input-div-four">
                    <label for="sizeWeigth">Peso</label>
                    <input type="text" name="sizeWeigth" id="sizeWeigth" placeholder="10" value="<%= product.size.weight %>"
                    pattern="[0-9\.]+" title="Solamente números y puntos" required>
                </div>
            </div>
            <label class="little-text">Ingrese la medida en cm (centimetros).<br> 
                Y el peso en kg (kilogramos) (puntos para los gramos. 0.5 para medio kilo. ) </label>
        </div>
        <div class="form-up">
            <label for="colors">Colores</label>
            <input type="text" name="colors" id="colors" placeholder="azul, blanco" value="<%= product.colors %>"
            required maxlength="60" pattern="[a-zA-Z0-9\s,]+" title="Separe por comas">
            <label class="little-text">Ingrese separados por comas</label>
        </div>
        <div class="form-up">
            <label for="productImg">Foto de Portada</label>
            <input type="file" accept="image/*" name="productImg" id="productImg">
        </div>
        <div class="form-up">
            <label for="productImages">Fotos de Galeria</label>
            <input type="file" accept="image/*" name="productImages" id="productImages" multiple="multiple" >
        </div>
        <div class="form-compartido">
            <div class="form-input-div-half">
                <label>Disponible?</label>
                <div class="form-compartido">
                    <div class="form-input-div-four">
                        <div>
                            <input type="radio" name="radioAvailable" id="availableYes" value="true"
                            <% if (product.available == 'true') { %>
                                checked
                            <% } %>
                            >
                            <label for="availableYes">Si</label>
                        </div>
                    </div>
                    <div class="form-input-div-four">
                        <div>
                            <input type="radio" name="radioAvailable" id="availableNo" value="false"
                            <% if (product.available == 'false') { %>
                                checked
                            <% } %>
                            >
                            <label for="availableNo">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-input-div-half">
                <label for="quantity">Cantidad</label>
                <input type="text" name="quantity" id="quantity" placeholder="10" value="<%= product.quantity %>"
                pattern="[0-9]+" title="Solamente números">
            </div>
        </div>
        <div class="form-up">
            <button type="submit" class="button-blue mid m10">
                Guardar
            </button>
        </div>
    </form>
</div>