<div class="form-product">
    <form action="/user/product/editProduct/<%=model.id%>/?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="form-up">
            <label>Imagen Portada</label>
            <img src="/images/products/<%= model.img %>" alt="Portada" class="product-img">
            <input type="hidden" value="<%= model.img %>" name="imgMain">
        </div>
        <div class="form-up">
            <label>Imagenes Galeria</label>
            <label class="little-text">Desmarque los que quiera borrar</label>
            <div class="img-galery-row-wrap">
                <% for( let i=0; i< model.images.length; i++ ) { %>
                    <div>
                        <img src="/images/products/<%=model.images[i] %>" alt="Portada" class="product-img-galery">
                        <div class="check-delete-img-gal">
                            <input type="checkbox" name="checkImgGal[]" value="<%=model.images[i]%>" id="<%=model.images[i]%>" checked >
                            <label class="label-form " for="<%=model.images[i]%>">Mantener</label>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="form-up">
            <label for="productName">Nombre</label>
            <input type="text" name="productName" id="productName" placeholder="Nombre Producto" value="<%= model.product.name %>"
            required maxlength="60">
        </div>
        <div class="form-up">
            <label for="productMark">Marca</label>
            <input type="text" name="productMark" id="productMark" placeholder="Marca Producto" value="<%= model.product.brand %>"
            required maxlength="60">
        </div>
        <div class="form-up">
            <label for="productModel">Modelo</label>
            <input type="text" name="productModel" id="productModel" placeholder="Modelo Producto" value="<%= model.name %>"
            required maxlength="60">
        </div>
        <div class="form-up">
            <label for="productDesc">Descripcion</label>
            <textarea name="productDesc" id="productDesc" cols="30" rows="10" class="form-desc" required><%= model.description %></textarea>
        </div>
        <div class="form-up">
            <label for="productPrice">Precio</label>
            <input type="text" name="productPrice" id="productPrice" placeholder="9999" value="<%= model.prices[0].value%>"
            pattern="[0-9]+" title="Solamente números" required>
        </div>
        <div class="form-up">
            <label for="rooms">Habitacions</label>
            <select name="rooms">
                <% for( let i = 0; i < rooms.length; i++ ) { %>
                    <option value="<%= rooms[i].id %> "
                        <% if (rooms[i].id == model.product.rooms[0].id) { %>
                            selected
                        <% } %>
                    > <%= rooms[i].name %>  </option>
                <% } %>
            </select>
        </div>
        <div class="form-up">
            <label for="subCategory">Categoria y Sub Categorias</label>
            <select name="subCategory">
                <option hidden selected>Elegi una</option>
                <% for( let i = 0; i < subCategory.length; i++ ) { %>
                    <option value="<%= subCategory[i].id %> "
                        <% if (subCategory[i].id === model.product.id_subcategory) { %>
                            selected
                        <% } %>
                    > <%= subCategory[i].category.name %> - <%= subCategory[i].name %>  </option>
                <% } %>
            </select>
        </div>
        <label>Materiales</label>
        <div class="form-up">
            <label for="matWood">Maderas</label>
            <input type="text" name="matWood" id="matWood" placeholder="fenolico, pino" value="<%= model.property.wood %>"
            maxlength="60" pattern="[a-zA-Z0-9\s,]+" title="Separe por comas">
            <label class="little-text" >Ingrese separados por comas</label>
        </div>
        <div class="form-up">
            <label for="matMetal">Metales</label>
            <input type="text" name="matMetal" id="matMetal" placeholder="aluminio, hierro" value="<%= model.property.metal %>"
            maxlength="60" pattern="[a-zA-Z0-9\s,]+" title="Separe por comas">
            <label class="little-text" >Ingrese separados por comas</label>
        </div>
        <div class="form-up">
            <label for="matCloth">Telas</label>
            <input type="text" name="matCloth" id="matCloth" placeholder="cuero, algodon" value="<%= model.property.cloth %>"
            maxlength="60" pattern="[a-zA-Z0-9\s,]+" title="Separe por comas">
            <label class="little-text" >Ingrese separados por comas</label>
        </div>
        <div class="form-up">
            <label for="matOther">Otros</label>
            <input type="text" name="matOther" id="matOther" placeholder="plastico, vidrio" value="<%= model.property.others %>"
            maxlength="60" pattern="[a-zA-Z0-9\s,]+" title="Separe por comas">
            <label class="little-text" >Ingrese separados por comas</label>
        </div>
        <div class="form-up">
            <label>Medidas</label>
            <div class="form-compartido">
                <div class="form-input-div-four">
                    <label for="sizeHeight">Alto</label>
                    <input type="text" name="sizeHeight" id="sizeHeight" placeholder="10" value="<%= model.feature.height %>"
                    pattern="[0-9]+" title="Solamente números" required>
                </div>
                <div class="form-input-div-four">
                    <label for="sizeWidth">Ancho</label>
                    <input type="text" name="sizeWidth" id="sizeWidth" placeholder="10" value="<%= model.feature.width %>"
                    pattern="[0-9]+" title="Solamente números" required>
                </div>
                <div class="form-input-div-four">
                    <label for="sizeDeep">Profundo</label>
                    <input type="text" name="sizeDeep" id="sizeDeep" placeholder="10" value="<%= model.feature.deep %>"
                    pattern="[0-9]+" title="Solamente números" required>
                </div>
                <div class="form-input-div-four">
                    <label for="sizeWeigth">Peso</label>
                    <input type="text" name="sizeWeigth" id="sizeWeigth" placeholder="10" value="<%= model.feature.weight %>"
                    pattern="[0-9\.]+" title="Solamente números y puntos" required>
                </div>
            </div>
            <label class="little-text">Ingrese la medida en cm (centimetros).<br> 
                Y el peso en kg (kilogramos) (puntos para los gramos. 0.5 para medio kilo. ) </label>
        </div>
        <div class="form-up">
            <label for="colors">Colores</label>
            <input type="text" name="colors" id="colors" placeholder="azul, blanco" value="<%= model.feature.colors %>"
            required maxlength="60" pattern="[a-zA-Z0-9\s,]+" title="Separe por comas">
            <label class="little-text">Ingrese separados por comas</label>
        </div>
        <div class="form-up">
            <label for="productImg">Foto de Portada</label>
            <input type="file" accept="image/*" name="productImg" id="productImg">
        </div>
        <div class="form-up">
            <label for="productImages">Fotos de Galeria</label>
            <input type="file" accept="image/*" name="productImages" id="productImages" multiple="multiple" >
        </div>
        <div class="form-compartido">
            <div class="form-input-div-half">
                <label>Disponible?</label>
                <div class="form-compartido">
                    <div class="form-input-div-four">
                        <div>
                            <input type="radio" name="radioAvailable" id="availableYes" value=1
                            <% if (model.stock.available === 1) { %>
                                checked
                            <% } %>
                            >
                            <label for="availableYes">Si</label>
                        </div>
                    </div>
                    <div class="form-input-div-four">
                        <div>
                            <input type="radio" name="radioAvailable" id="availableNo" value=0
                            <% if (model.stock.available === 0) { %>
                                checked
                            <% } %>
                            >
                            <label for="availableNo">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-input-div-half">
                <label for="quantity">Cantidad</label>
                <input type="text" name="quantity" id="quantity" placeholder="10" value="<%= model.stock.quantity %>"
                pattern="[0-9]+" title="Solamente números">
            </div>
        </div>
        <div class="form-up">
            <button type="submit" class="button-blue mid m10">
                Guardar
            </button>
        </div>
    </form>
</div>