<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head', {tittle: tittle} ); %>
        <link rel="stylesheet" href="/css/user/register-styles.css">
    </head>
    <body>
        <header>
            <%- include('../partials/navigation'); %>
        </header>
        
        <div class="profile">
            hola <%= user.name %> 
            <br>
            <img src="/images/users/<%= user.avatar %> " alt="">
            <br>
            <%= user.email %> 
        </div>
        
    </body>
</html>